.App {
  text-align: center;
}

.d-flex{
  display: flex;
  justify-content: space-between;
}
/* .d-flex-arround{
  display: flex;
  justify-content: space-around;
} */
.user-list{
  background-color: #35a5f8;
  border-radius: 10px ;
  padding: 10px;
}
.user-item{
  padding: 5px;
}
.user-item:hover{
  background-color: white;
  color: blue;
  border-radius: 10px ;
}
.search{
  padding: 10px;
  border-radius: 10px;
}

.user-div{
  background-color: #35a5f8;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}